# vim:set expandtab shiftwidth=4 filetype=gitignore:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/awesome-neovim.git
# ::: :/.gitignore
#
#

.ignore

# Python
Pipfile
Pipfile.lock
venv
.venv
requirements.txt
uv.lock
__pycache__/
*.pyc

# Annotation store
annotate/annotations.db

# Useless Files
*.bak
*.dll
*.in
*.lock
*.log
*.new
*.out
